nav{
    margin-top: 20px;
    margin-bottom: 30px;
} /* espaçamento do menu */

a{
    text-decoration:none !important;
    margin-right: 10px;
    color:#0000FF !important;
} /* espaçamento do link */

a:hover{
    color:#7FFF00 !important;
}  /* coloração do link */

img{
    resize: both;
    width: 100px; 
    height: auto;
} /* redimensionamento universal de imagens */ 

h1{
    text-align: center;
    color: rgb(255, 0, 153) !important;
} /* coloração dos títulos */

p{
    color: #05230c !important;
} /* coloração dos parágrafos */

label{
    color: rgb(255, 0, 0) !important;
} /* coloração de label */

div{
    padding-bottom: 10px;
}

table{
    border: 2px !important;
}

/* # é utilizado para id */
#especial{
    text-align: right;
    color: rgb(159, 159, 33) !important;
}

#homeimg1{
    resize: both;
    width: 300px;
    height: auto;
} /* redimensionamento de imagem do index */

/* . é utilizado para class */
.entrada{
    width: 300px;
} /* tamanho das caixas de texto */

.falconalu{
    margin-right: 30px;
} /* espaçamento dos botões Enviar e Limpar */

.table-striped>tbody>tr:nth-child(odd)>td {
    background-color: rgba(255, 0, 153, 0.50);
}
.table-striped>tbody>tr:nth-child(even)>td {
    background-color: rgba(255, 0, 153, 0.25);
}