{% extends 'base.html' %}
{% block content%}
    <h2>Lista de Alunos</h2>
    <a href="{% url 'incluiraluno' %}" class="btn btn-primary">
        Cadastrar novo aluno
    </a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for a in alunos %}
            <tr>
                <td>
                    {{ a.nome }}
                </td>
                <td>
                    {{ a.email }}
                </td>
                <td>
                    <a href="{% url 'alteraraluno' a.id %}" class="btn btn-secondary">Alterar</a>
                    <a href="{% url 'excluiraluno' a.id %}" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}