{% extends 'base.html' %}
{% block content %}
    <h2>Lista de Professores</h2>
    <a href="{% url 'incluirprofessor' %}" class="btn btn-primary">
        Cadastrar novo professor
    </a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Matrícula</th>
                <th>E-mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for p in professores %}
            <tr>
                <td>
                    {{ p.nome }}
                </td>
                <td>
                    {{ p.matricula }}
                </td>
                <td>
                    {{ p.email }}
                </td>
                <td>
                    <a href="{% url 'alterarprofessor' p.id %}" class="btn btn-secondary">Alterar</a>
                    <a href="#" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}